{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "importOrder": [
    "^react(.*)$",
    "^@(.*)/(.*)$",
    "^@core/(.*)$",
    "^@web/(.*)$",
    "^@mobile/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
